#head {
    color: FloralWhite;
    text-shadow: 20px 20px grey;
    font-size: 72px ;

}

h1 {

    
    text-shadow: 20px 20px grey;
}


#sliding { 
    color: FloralWhite;
    font-size: 25px ;
 }
